<h3>
  <div *ngIf="seleccion==null">
      Cargamos informacion
  </div>
  <div *ngIf="seleccion!=null">
      Editamos {{seleccion.name}}
  </div>  
</h3>

<table class="table table-hover" *ngIf="seleccion==null">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Genero</th>
      <th scope="col">Email</th>
      <th scope="col">Fono</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Data of Registros">
      <th scope="col">{{Data.name}}</th>
      <th scope="col">{{Data.gender}}</th>
      <th scope="col">{{Data.email}}</th>
      <th scope="col">{{Data.phone}}</th>
      <th>
        <a class="btn btn-success" (click)="Editar(Data)">Edit</a>
        <a class="btn btn-danger" (click)="Eliminar(Data)">Delete</a>
      </th>
    </tr>
  </tbody>
  </table>
<div *ngIf="seleccion!=null">
  <app-formulario [contact]="seleccion" (salida)="Terminar()"></app-formulario>
</div>
